@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* { 
  margin: 0px;
  padding: 0px;
  border: 0px;
  box-sizing: border-box;
}
* ::-webkit-scrollbar { display: none; }

body {
  background-color: #fff;
  color: #000;
}

.container {
  width: 80%;
  height: 100%;
  margin: auto;
}

header {
  width: 100vw;
  height: 80px;
  background-color: #0021A5;
  padding-block: 10px;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

span#name {
  height: auto;
  align-items: center;
  justify-content: center;
  font-size: 42px;
  font-family: "Poppins", sans-serif;
  color: #FA4616;
}

nav#nav-container {
  height: 60px;
  width: 20%;
}

#nav-container > .nav-button {
  margin-block: 15px;
  height: 30px;
  width: 60px;
  background: transparent;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  transition: .1s ease-in-out;
  /* border-bottom: white solid 2px; */
  &:hover {
    border-bottom: white solid 2px;
    transform: scale(1.05);
    cursor: pointer;
  }
}

.logo-container {
  display: flex;
  flex-direction: row;
}
.logo-wrapper {
  margin: auto;
  height: 240px;
  width: 25%;
/* 
  border: 2px solid green;
  & > img { border: 2px solid red;} */

  &:hover {
    cursor: pointer;
    transform: scale(1.02);
  }
}
.frl-wrapper { width: 20%; }
img#aiaa-logo { margin-block: calc((235px - 128px) / 2); }
img#frl-logo { 
  margin-block: 12px;
  margin-left: calc((100% - 216px) / 2);
}

.hero {
  /* background-color: rgb(15, 23, 42); */
  background-color: #0021A5;
}
.hero-container {
  height: calc(100vh - 240px - 80px - 100px);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
#hero-text {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 15rem;
}
#hero-welcome {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  color: #FA4616;
  font-size: 18px;
}
#hero-title {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: white;
  font-size: 48px;
}
#hero-desc {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: rgba(255, 255, 255, .7);
  font-size: 38px;
}
#headshot {
  width: 50%;
}

/* .scroller-arrow {
  width: 100vw;
  margin: auto;
  height: 100px;
  display: flex;
  justify-content: center;
}
.arrow-wrapper {
  position: relative;
  z-index: 100;
  top: -5em;
  margin-left: 0;
  background: #111;
  width: 10em;
  height: 10em;
  padding: 4em 2em;
  border-radius: 50%;
  font-size: .5em;
  display: block;
  box-shadow: 0px 0px 5px 0px #333;
}
.arrow {
  float: left;
  position: relative;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 3em 3em 0 3em;
  border-color: #fff transparent transparent transparent;
  transform: rotate(360deg);

  &::after {
    content: '';
    position: absolute;
    top: -3.2em;
    left: -3em;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 3em 3em 0 3em;
    border-color: #111 transparent transparent transparent;
    transform: rotate(360deg);
  }
} */

#about {
  height: 100vh;
}
.about-sect {
  display: flex;
  flex-direction: column;
  width: 80%;
  /* height: 400px; */
  justify-content: center;
  margin: auto;
}
.about-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-heading {
  font-family: "Poppins", sans-serif;
  font-size: larger;
}



.about-webmaster > .about-image-wrapper > .about-image-container {
  background-image: url(./Images/aiaa-logo.png);
}
.about-avionicsEngineer > .about-image-wrapper > .about-image-container {
  background-image: url(./Images/frl-logo.png);
}
.about-student > .about-image-wrapper > .about-image-container {
  background-image: url(./Images/uf-logo.png);
}
.about-image-wrapper > .about-image-container {
  background-position: center center;
  background-size: contain;
  background-clip: content-box;
  background-repeat: no-repeat;
  height: 200px;
  width: 100%;
}