@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Prata&display=swap');

:root {
  --font-family: "DM Serif Display", serif;
}

* { 
  margin: 0px;
  padding: 0px;
  border: 0px;
  box-sizing: border-box;
}
* ::-webkit-scrollbar { display: none; }

body {
  background-color: #fff;
  color: #000;
}

.container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

section {
  min-height: 100vh;
  width: clamp(100vw);
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 80px;
  background-color: transparent;
}

header .container {
  display: grid;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: .375fr 1fr .375fr;
  align-items: center;
}

header .container #nav-home {
  font-family: var(--font-family);
  font-size: 2rem;
  color: white;
  background-color: transparent;
  border: none;
  float: left;
  margin-left: 0;
  width: fit-content;
}

header .container nav {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  height: 100%;
}

header .container nav .nav-button {
  font-family: var(--font-family);
  color: white;
  letter-spacing: -.14px;
  padding: .5rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.4;
  background: transparent;
  &:hover {
    cursor: pointer;
    border-bottom: #0acf83 2px solid;
  }
}

header .container #nav-contact {
  font-family: var(--font-family);
  font-size: 1.5rem;
  color: white;
  background-color: black;
  border: 2px solid green;
  border-radius: 5px;
  padding: 5px 10px;
  display: flex;
  justify-self: right;
  width: fit-content;
}

#hero {
  width: 100%;
  height: 100vh;
  background-color: #12191B;
  color: white; /* ! Temporary */
}

#hero .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#hero .container .hero-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 25px;
}

#hero .container .hero-title h1 {
  font-family: var(--font-family);
  font-size: 5rem;
  width: 100%;
  text-align: center;
}

#hero .container .hero-title h2 {
  font-family: var(--font-family);
  font-size: 4rem;
  font-style: italic;
  & > span {
    color: #8fe566;
    font-style: normal;
  }
}

#hero .container .hero-title p {
  font-family: var(--font-family);
  font-size: 1rem;
  max-lines: 2;
  font-stretch: condensed;
}

#hero .container .hero-title button {
  font-family: var(--font-family);
  font-size: 2rem;
  padding: .5rem 1rem;
  text-align: center;
  font-weight: 700;
  line-height: 1.3;
  margin-top: 50px;
  text-decoration: none;
  position: relative;
  background-image: radial-gradient(circle at 50% 85.69%, #8fe566, rgba(143, 229, 102, 0) 77.6%), radial-gradient(circle at 50% 111.57%, #72e98a, rgba(114, 233, 138, 0) 56%), radial-gradient(circle at 50% 132.04%, #0acf83, rgba(10, 207, 131, 0) 69%), linear-gradient(rgba(126, 249, 139, 0) 21%, #7ef98b 93.49%), linear-gradient(#0acf83, #0acf83);
  border-radius: .375rem;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: hidden;
  box-shadow: inset 0 2px 2px rgba(221, 221, 221, .5), inset 0 -2px #13AE72, 0 0 0 4px rgba(221, 221, 221, .05), 0 20px 120px -10px rgba(10, 207, 131, 0.8);
  transition: ease-in-out .2s;
  &:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
}

#hero .container .logos {
  display: flex;
  margin-block: 40px;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

#hero .container .logos .logos-literal {
  display: flex;
  gap: 20px;
  font-size: 2rem;
}

#hero .container .logos .logo-imgs {
  display: flex;
  gap: 20px;
  width: 100%;
  margin: auto;
  justify-content: space-evenly;
}

#hero .container .logos .logo-imgs img {
  height: 50px;
}

#hero .container .profile-img {
  position: relative;
  bottom: 0;
  right: 0;
  height: 15rem;
  width: 15rem;
  background: url("./Images/profile.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 50%;
  & > #content {
    height: 100%;
    width: 100%;
    background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0) 100%, #12191B 99%);
    border: 2px solid #8fe566;
    border-radius: 50%;
  }
}


#who {
  width: 100%;
  height: 100vh;
  background-color: white;
  color: #12191B; /* ! TEMPORARY */
}

#who .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#who .container h1 {
  font-family: var(--font-family);
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

/* ! Cards */
#cards-container {
  align-items: center;
  background-color: #FFF;
  display: flex;
  height: calc(fit-content + 6 * 10px);
  width: calc(fit-content + 4 * 10px);
  justify-content: center;
  margin: 0;
  overflow: hidden;
  padding: 0;
}
#cards-container #cards {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  width: calc(300px * 3 + 8px * 2 + 6 * 10px);
}
#cards-container .card {
  background-color: rgba(255, 255, 255, .02);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  height: 260px;
  flex-direction: column;
  position: relative;
  width: 300px;
  margin: 10px;
  box-shadow: #000 0px 0px 2px;
}
#cards-container .card .card-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}
#cards-container .card .card-content .card-img {
  align-items: center;
  display: flex;
  height: 140px;
  justify-self: center;
  & > i {
    font-size: 6em;
  }
}

#experience {
  width: 100%;
  min-height: 100vh;
  background-color: #12191B;
  color: white; /* ! TEMPORARY */
}

#experience .container {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

#experience .container .text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 30px;
  margin: auto;
}

#experience .container .text-container h1 {
  font-family: var(--font-family);
  font-size: 3rem;
  font-weight: 700;
}

#experience .container .text-container p {
  font-family: var(--font-family);
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
}

#experience .container .experiences-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40PX 30px;
  margin: auto;
}

#experience .container .experiences-container .experience {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, .02);
  box-shadow: #FFF 0px 0px 2px;
}

#experience .container .experiences-container .experience .experience-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#experience .container .experiences-container .experience .experience-description {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#experience .experience-img {
  height: 30rem;
  width: 30rem;
}

#experience .experience-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#works {
  width: 100%;
  min-height: 100vh;
  background-color: white;
  color: #12191B; /* ! TEMPORARY */
}

#works .container {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

#works .works-container {
  width: 800px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#works .works-container h1 {
  font-family: var(--font-family);
  font-size: 3rem;
  font-weight: 700;
}

#works .works-container .work {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 40px 20px;
  background-color: rgba(255, 255, 255, .02);
  box-shadow: #FFF 0px 0px 2px;
  border-top: #12191B 2px solid;
}

#works .works-container .work .works-text-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  & > h1 {
    font-family: var(--font-family);
    font-size: 2rem;
    font-weight: 700;
  }
  & > p {
    font-family: var(--font-family);
    font-size: 1.5rem;
    font-weight: 500;
  }
  & > .tags {
    display: flex;
    gap: 10px;
    & > button {
      font-family: var(--font-family);
      font-size: 1rem;
      font-weight: 500;
      padding: 5px 10px;
      border-radius: 5px;
      background-color: #12191B;
      color: white;
    }
  }
}

#works .works-container .work .works-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  & > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

#projects {
  width: 100%;
  min-height: 100vh;
  background-color: #12191B;
  color: white; /* ! TEMPORARY */
}

#projects .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

#projects .container .project-header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
  margin: auto;
}

#projects .container .project-header h1 {
  font-family: var(--font-family);
  font-size: 3rem;
  font-weight: 700;
}

#projects .container .project-header p {
  font-family: var(--font-family);
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
}

#projects .container .projects-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px 30px;
  margin: auto;
}

#projects .container .projects-container .project {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, .02);
  box-shadow: #FFF 0px 0px 2px;
}

#projects .container .projects-container .project .project-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#projects .container .projects-container .project .project-text h1 {
  font-family: var(--font-family);
  font-size: 2rem;
  font-weight: 700;
}

#projects .container .projects-container .project .project-text p {
  font-family: var(--font-family);
  font-size: 1.5rem;
  font-weight: 500;
  margin: auto;
}

#projects .container .projects-container .project .project-img {
  display: flex;
  justify-content: center;
  align-items: center;
  & > img {
    height: 100%;
    max-height: 600px;
    width: 100%;
    object-fit: cover;
  }
}

footer {
  width: 100%;
  height: 80px;
  background-color: #12191B;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .footer-container {
  background-color: rgba(255, 255, 255, .2);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid white;
}

footer .footer-container .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}

footer .footer-container .container .footer-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

footer .footer-container .container .footer-content .social-media {
  display: flex;
  gap: 20px;
}

footer .footer-container .container .footer-content .social-media button {
  font-size: 1.5rem;
  background-color: transparent;
  color: white;
  border: none;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  transition: display ease-in-out;
}

.modal .modal-content {
  background-color: #13AE72;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 600px;
  border-radius: 15px;
}

.modal .modal-content .close {
  color: #12191B;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal .close:hover,
.modal .close:focus {
  color: #FFF;
  text-decoration: none;
  cursor: pointer;
}