body {
    font: 18px "Nunito", sans-serif;
    color: black;
    min-height: 100vh;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
        content: '';
        position: fixed;
        inset: 0;
        z-index: -1;
        pointer-events: none;
        background: url("/Images/background.png") no-repeat center;
        background-size: cover;
        animation: backgroundZoomAnimate 60s forwards;
    }
}

@keyframes backgroundZoomAnimate {
    from {
        transform: scale(1.05);
    }
    to {
        transform: scale(1.1);
    }
}



/* ---- Profile Card ---- */
.profile-card {
    box-shadow: 0 14.4px 160px -48px black;
    border-radius: 40px;
    width: 520px;
    position: relative;
    backdrop-filter: blur(15px);
    border: 2px solid #ffffff40;
    padding: 3rem 5rem;
    display: flex;
    flex-direction: column;
    gap: 32px;
    height: 720px;
}

.profile-card__img img{
    margin: auto;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    box-shadow: 0 8px 56px -8px rgba(14, 18, 42, 0.5);
}

.profile-card__desc {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.profile-card__desc h1 {
    font-size: 2rem;
    font-weight: bold;
}
.profile-card__desc div {
    font-size: 16px;
}

.profile-card__info {
    display: flex;
    justify-content: center;
    gap: 40px;

    @media screen and (max-width: 461.6px) {
        gap: 24px;
    }

    & > div {
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: .8px;
        text-align: center;

        & > *:first-child {
            font-weight: bold;
            letter-spacing: 2.4px;
            font-size: 1.6rem;
            margin-bottom: 1.2px;
        }
        & > *:last-child {
            font-size: 16px;
            opacity: .69;
        }
    }
}

.profile-card__social {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.profile-card__social a {
    display: inline-flex;
    width: 55px;
    height: 55px;
    margin: 15px;
    border-radius: 40%;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
    flex-shrink: 0;

    @media screen and (max-width: 461.6px) {
        width: 50px;
        height: 50px;
        margin: 10px;
    }

    &.instagram {
        background: linear-gradient(
            45deg,
            #5851db,
            #833ab4,
            #c13584,
            #e1306c,
            #fd1d1d
        );
        box-shadow: 0 4px 30px rgba(120, 64, 190, 0.6);
    }
    &.discord {
        background: linear-gradient(
            45deg,
            #6a5adc,
            #7289da
        );
        box-shadow: 0 4px 30px rgba(120, 64, 190, 0.6);
    }
    &.github {
        background: linear-gradient(
            45deg,
            #333333,
            #626b73
        );
        box-shadow: 0 4px 30px rgba(120, 64, 190, 0.6);
    }
    &.linkedin {
        background: linear-gradient(
            45deg,
            #0e76a8,
            #1293d2
        );
        box-shadow: 0 4px 30px rgba(120, 64, 190, 0.6);
    }
    /*
    &.leetcode {
        background: linear-gradient(
            45deg,
            #5851db,
            #833ab4,
            #c13584,
            #e1306c,
            #fd1d1d
        );
        box-shadow: 0 4px 30px rgba(120, 64, 190, 0.6);
    }
    */
}

.profile-card__actions {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;

    @media screen and (max-width: 420px) {
        flex-direction: column;
        gap: 1.5rem;
    }
    & > button {
        font-weight: bold;
        font-size: 22px;
        padding: 15px 0;
        min-width: 200px;
        border-radius: 50px;
        color: white;
        cursor: pointer;

        @media screen and (max-width: 420px) {
            min-width: 136;
        }

        @media screen and (max-width: 420px) {
            min-width: inherit;
            width: 80%;
            max-width: 280px;
        }
        
        &.blue {
            background: linear-gradient(
                45deg,
                #1da1f2,
                #0e71c8
            );
            box-shadow: 0 4px 30px rgba(19, 127, 212, 0.4);
        }
        &.orange {
            background: linear-gradient(
                45deg,
                #d5135a,
                #f05924
            );
            box-shadow: 0 4px 30px rgba(223, 45, 70, 0.35);
        }
    }
}