* {
    background: rgb(120, 0, 0);
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

header {
    padding: 25px 50px;
    display: grid;
}

.head-master {
    display: flex;
    flex-direction: row;
    color: white;
    position: absolute;
    z-index: 1;
    text-align: start;
    margin: 0;
}
.head-master img {
    width: 34px;
    height: 40px;
}
.title {
    text-align: start;
    justify-content: start;
    align-items: start;
}

.ribbon {
    position: absolute;
    padding-top: 115px;
    z-index: 0;
}